.navigation{
    background-color: #4F46E5;
    Width :264px;
    Height :900px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    color: white;


}
.nav-link{
    color: white;
}
.workflow-logo{
    margin: 2px;
    margin-top: 4px;
    padding: 2px;
}
.right-part{
    background-color: #F4F5F7;
}
.flex-container{
   display: flex;
   justify-content: right;
   text-align: right;

    /* border: 12px solid red; */
   Width: 100%;
   Height: 32px;
   Left :265px;
   Padding: 0px, 32px, 0px, 32px;
   background-color: white;
}

.nav-icon{
   Width:16px;
   Height :18px;
   margin-top :3px;
   margin-left :4px;
   margin-right: 3px;
}
.profile-pic img{
   border-radius: 16px;
   object-fit:cover;
   height: 24px;
   width: 24px;
}

/* table stylesheet */

.table-head{
    background-color: #F3F4F6;

    color: #6B7280;

}
.table-body{
    background-color: white;
    
    
}


.button-action{
    height: 25px;
    width: 56px;
    border: 1px solid #D1FAE5;
    border-radius: 12px;
    background-color: #D1FAE5;
    text-align: center;
    justify-content: center;
    align-content: center;

}
.action-text{
    color: green;
}
.button-blocked{
    height: 25px;
    width: 58px;
    border:1px solid #f3f4f6;
    border-radius: 10px;
    background-color: #6fd5e7;
    text-align: center;
    justify-content: center;
    align-content: center;
    

}
.blocked-text{
    color:#1f2a3a;
    font-weight: 500;
}

.edit{
    margin-left: 4px;
    margin-right: 4px;
}